<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY9ORaIv1uqUArcSm0yiafws8D15cMiec</string>
	<key>GCM_SENDER_ID</key>
	<string>893903359629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaeHyeonLim9298.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-45b3c</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-45b3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893903359629:ios:c41bd3a9c29cabebf11cc4</string>
</dict>
</plist>